@model List<DawidKobierskiLab5.Models.Pizza>

@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Dodaj pizze", "Add", null, new { @class = "btn btn-success"})

<table class="table table-striped">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Nazwa</th>
        <th>Składniki</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pizza in Model)
    {
        <tr>
            <td>@pizza.Id</td>
            <td>@pizza.Name</td>
            <td>@pizza.Ingredients</td>
            <td>@Html.ActionLink("Edytuj", "Edit", new { id = pizza.Id }, new { @class = "btn btn-primary"})</td>
        </tr>
    }
    </tbody>
</table>